mat-card{
    margin: 20px;
    padding-top: 0px;
}
.add-artist-btn{
    position: absolute;
    right: 10px;
}
a:hover{
    filter: brightness(0.6);
}

.action-btns{
    position: absolute;
    right: 0px;
    top: 0px;
}


