<form [formGroup]="albumForm">
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input name="title" formControlName="title" matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Genre</mat-label>
        <input name="genre" formControlName="genre" matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Release date</mat-label>
        <input name="releaseDate" formControlName="releaseDate" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Artist</mat-label>
        <mat-select name="artistId" formControlName="artistId" matInput>    
            <mat-option *ngFor="let artist of artists" [value]="artist.id">{{ artist.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Image URL</mat-label>
        <input name="imageURL" formControlName="imageURL" matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea name="description" formControlName="description" matInput></textarea>
    </mat-form-field>
    <div class="form-user-action">
        <button mat-flat-button type="button" color="warn" (click)="onCancel()">Cancel</button>
        <button mat-flat-button color="primary" (click)="onSave()" [disabled]="albumForm.invalid">Save</button>
    </div>
</form>