.album-card {
    margin: 10px;
    max-width: 250px;
    height: 450px;
  }

  img{
    width: 250px;
    height: 250px;
  }
  
  .album-title{
    margin-top: 10px;
  }
  
  mar-card{
    color: white;
  }

  a{
    text-decoration: none;
    color: inherit;
  }