<mat-card class="album-card">
    <img mat-card-image [src]="album.imageURL" [alt]="album.title + 'cover image'">
    <mat-card-content>
        <p class="album-title">
            {{album.title}}
        </p>
        <p class="album-artist">
            <a [href]="['artists/' + album.artistId]">{{ album.artistName }}</a>
        </p>
        <p>
            Released <span class="album-released">{{album.releaseDate |date}}</span>
        </p>
        <p class="album-genre">
            {{album.genre}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button [style.color]="likeButtonState" (click)="onAlbumLiked()"><mat-icon>album</mat-icon></button>
        <span>{{ album.likes }}</span>
        <button mat-icon-button color="warn" (click)="onDeleteAlbum()"><mat-icon>delete</mat-icon></button>
        <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
    </mat-card-actions>
  </mat-card>