.album-card {
    margin: 10px;
    max-width: 250px;
    height: 450px;
  }

  img{
    width: 250px;
    height: 250px;
  }
  
  .album-title{
    margin-top: 10px;
    color: white;
    font-weight: bolder;
  }
  
  mat-card{
    color: lightgray;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  a:hover{
    filter: brightness(0.8);
  }

  .album-genre{
    font-style: italic;
  }

  .album-released{
    font-weight: 700 ;
  }

  mat-card-actions{ 
    bottom: 0px;
  }