<section class="filter-wrapper">
    <app-album-list-filter (searchChanged)="filterList($event)" [artists]="artists" [genres]="genres"></app-album-list-filter>
</section>
<section>
    <app-album-card (deleteAlbum)="onDeleteAlbum($event)" (albumLiked)="onAlbumLiked($event, album.id)" [album]="album" 
    *ngFor="let album of displayedAlbums">
        {{album.title}}
    </app-album-card>
</section>
<button id="add-album-button" (click)="openDialog()" mat-fab matTooltip="Add new album" color="warn" aria-label="add new album">
    <mat-icon>add</mat-icon>
</button>