section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

#add-album-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 20px;
}
  